.image {
  width: 75px;
  height: 75px;
  object-fit: cover;
}

body {
  background-color: #121212;
}

.tier {
  border-bottom:3px solid black;
  border-top:3px solid black;
  
  display: flex;
  flex-direction: row;
}

.tier-title {
  width:200px;
  height:77px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 4.5vmin;
  line-height: 4.5vmin;
}

.title {
  font-size: 35px;
  color: black;
  font-family: monospace;
  font-weight: 500;
}

.drop {
  width: 100%;
  height: 75px;
}


#bank {
  position: fixed;
  justify-self: center;
  bottom: 50px;
  width: calc(100vw - 20px);
  border: 2px solid #aaaaaa;
}